h1 {
  color: rgb(245, 156, 3);
}

p {
  font-size: 16px;
}

.main-container {
  flex: 1; /* Permet au router-outlet de prendre tout l'espace disponible */
  min-height: calc(100vh - 110px); /* Ajustez la hauteur du footer ici */
}

.footer {
  height: 60px; /* Hauteur fixe du footer */
}
