<div class="container ">
  <div class="row d-flex justify-content-center flex-wrap ">
    <iframe
height="300px"
      class="aspect-video col-6"
      src="https://www.youtube.com/embed/7gbtO0Stzi8?si=5AfM6O9o-_kCMG1x"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen="true"

    >
    </iframe>
  <div class="col-6">
    <h1>Angular est-il vraiment plus compliqué que React ?</h1>
    <p class="fs-6">
      Quand on débute avec Angular, il est facile de se sentir découragé face à
      la multitude de concepts à assimiler. Cette complexité peut inciter à se
      tourner vers des frameworks comme React, qui semblent plus simples à
      première vue. Mais est-ce vraiment le cas ?
    </p>
  </div>
</div>
</div>
