

<div class="container pt-5">
  <div class="row d-flex flex-wrap pt-4">
    <div class="col-md-6 col-12 p-2">
      <div class="p-3 text-center">
        <h1>💻 Découvrez la Programmation</h1>
        <img src="https://w7.pngwing.com/pngs/419/83/png-transparent-ninja-illustration-computer-programming-programming-language-programmer-logo-introduction-miscellaneous-computer-computer-program.png" alt="Programming Logo" width="100">
        <p class="lead">Une compétence essentielle pour créer des logiciels et des applications web.</p>
        <a routerLink="/data-binding" class="btn btn-primary">Commencer 🚀</a>

      </div>
    </div>
    <div class="col-md-6 col-12 p-2">
      <iframe
        class="w-100 frameVideo"
        src="https://www.youtube.com/embed/DVllUzJGVMA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
</div>
