// *{
//   border:1px solid red;
// }
*{
  margin: 0;
  padding: 0;
  
}
html, body {
  height: 100% !important; /* Assurez-vous que le HTML et le body prennent 100% de la hauteur */
  margin: 0; /* Enlevez les marges par défaut */
  display: flex;
  flex-direction: column;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
